option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"

container_commands:
  01_upgrade_pip:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"
  02_install_dependencies:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --timeout=300 -r requirements.txt"